@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background: #333366;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 18px;
}

header {
  background: #ffffff;
}

.logo {
  width: 8%;
  padding: 20px;
}

.destaque {
  background: #ffffff;
  color: #1c1c1c;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

span {
  color: #ff6633
}

h1 {
  font-weight: 700;
  font-size: 3em;
  padding: 0 300px 20px 0;
}

.subtitulo {
  font-size: 1.5em;
}

.img-destaque {
  width: 35%;
  padding-bottom: 30px;
}

.subtitulo--centro {
  text-align: center;
  padding: 50px 0;
  line-height: 150%;
}

.recomendacoes {
  color: #1c1c1c;
  margin: 32px;
  font-size: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px 16px;
}

div.recomendacao {
  width: 20%;
  text-align: top;
  padding: 20px;
  background: #ecf4ff;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #0e1d2f;
  font-weight: 400;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-recomendacao {
  border-radius: 50%;
  width: 50%;
  max-width: 150px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 5% 5% 10%;
}

.p-recomendacao {
  text-align: center;
  margin: 5%;
  line-height: 150%;
}

.agendamento {
  margin: 0 0 15px;
  text-align: center;
}

#nome {
  display: block;
  margin: 1% auto;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
}

select {
  height: 30px;
  font-weight: 400;
  font-size: 18px;
  border-radius: 5px;
  margin: 5px;
  padding-inline: 10px;
  color: #5b5b5b;
  border: 1px solid #c7c7c7;
  cursor: pointer;
}

.obs {
  font-weight: 400;
  font-size: 18px;
  margin: 38px;
}

.agendamento button {
  border: 0;
  color: #ffffff;
  background: #ff6633;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.agendamento button:hover {
  opacity: 0.8;
}

#resultado {
  font-weight: 400;
  font-size: 32px;
  margin: 38px;
  padding-top: 10px;
  text-align: center;
  color: #ff6633;
  text-shadow: black 0.1em 0.1em 0.2em;
}
